<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        function send() {
            $.ajax({
                method:"POST",
                url:"http://127.0.0.1:8000/main/login/",
                data:JSON.stringify({username:$('#username').val(),password:$('#password').val()}),
                contentType:"application/json;charset=utf-8",
                success: function (data) {
                    console.log('data'+data);
                    if(data.mensaje =='ok')
                        window.location="http://127.0.0.1:8000/main"
                    else
                        $('#mensaje').text(data.mensaje);
                        $('.msg').show()


                },failure:function (error) {
                    alert("Error ");

                }
            });
            return false;

        }
    </script>
</head>
<style>
      fieldset
	{
		border: 1px solid #ddd !important;
		margin: 0;
		xmin-width: 0;
		padding: 10px;
		position: relative;
		border-radius:4px;
		background-color:#f5f5f5;
		padding-left:10px!important;
	}

		legend
		{
			font-size:14px;
			font-weight:bold;
			margin-bottom: 0px;
			width: 35%;
			border: 1px solid #ddd;
			border-radius: 4px;
			padding: 5px 5px 5px 10px;
			background-color: #ffffff;
		}
</style>
<body>
  <div class="alert alert-danger msg" style="display: none">
        <label id="mensaje"></label>
    </div>
  <fieldset>
      <legend >LOGIN</legend>
<div class="row">
    <div class="col-md-6">
        <form method="post" action="" onsubmit="return send()">
            <input id="username" name="username" type="text" placeholder="Usuario" class="form-control input-md" required=""><br>
            <input id="password" name="password" type="text" placeholder="Clave" class="form-control input-md" required=""><br>
            <button type="submit" class="btn btn-primary" >Login</button>
            <a href="http://127.0.0.1:8000/main" class="btn btn-primary">Cancelar</a>
        </form>
    </div>

</div>
  </fieldset>

</body>
</html>